<div class="fourth-page-content">
  <div class="container-fluid">
    <div class="col">
      <div class="contact-info-container">
        <h2>Contact!</h2>
        <p>
          Feel free to reach out if you want a to build something together, have
          a question, or just want to connect.
        </p>
        <a
          rel="noopener noreferrer"
          href="mailto:hello@dev.com"
          aria-label="Contact E-Mail"
          class="contact-info-email"
          target="_blank"
          >hello@dev.com</a
        >
      </div>
    </div>
  </div>
</div>
