<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add fonts here -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <!-- Add your CSS and other meta tags here -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/layout.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-content.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-sidebar.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-nav.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-btn.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
  {% feed_meta %} {% seo %}
</head> 