<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- Add fonts here -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@100;600;700&family=Roboto+Slab:wght@600&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;600;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300;600;700&display=swap">
  <!-- Add CSS and other meta tags here -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/layout.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-profile-content.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-showcases-content.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-projects-content.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-contacts-content.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-sidebar.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-nav.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom-toggle-btn.css">
  {% feed_meta %} {% seo %}
</head> 