
<div class="first-page-content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-md-6 no-padding-column-txt">
          <div class="profile-info-container">
            <h2>Hello, </br> my name is Janina.</h2>
            <p>
              I'm a master student at University of Munich, majoring in Computer
              Science.
            </p>
            <p>
              My areas of interest include problem-solving, cloud infrastructure,
              machine learning, and IoT.
            </p>
            <p>
              With a detail oriented-focus, I enjoy creating simple but effective
              solutions to improve application performance, ease of maintenance, and
              user experience.
            </p>
            <a class="resume" aria-label="Download my resume" href="./resume/janina-mattes.pdf" target="_blank">Get my Resume</a>
          </div>
        </div>
    
        <div class="col-md-6 no-padding-column-img">
          <div class="profile-image-container">
            <div class="profile-image-wrapper">
              <picture>
                <source media="(max-width: 250px)" srcset="imgs/profile/profile_250x250.png 250w, imgs/profile/profile_300x300.png 300w">
                <source media="(max-width: 380px)" srcset="imgs/profile/profile_300x300.png 300w, imgs/profile/profile_380x380.png 380w">
                <source media="(max-width: 480px)" srcset="imgs/profile/profile_350x350.png 350w, imgs/profile/profile_480x480.png 480w">
                <source media="(max-width: 500px)" srcset="imgs/profile/profile_480x480.png 480w, imgs/profile/profile_500x500.png 5000w">
                <img class="profile-img" src="imgs/profile/profile_500x500.png" alt="Profile Picture">
              </picture>              
            </div>
            <div class="img-offset"></div>
          </div>
        </div>
        
    </div>
  </div>
  </div>
