<div class="second-page-content">
    <div class="container-fluid">
        <div class="col">
            <div class="showcase-info-container">
                <h2>Showcases</h2>
                <p>These are my open source projects which are fetched directly from Github. </br> 
                    If you're a developer, feel free to make a pull request!</p>
                <div class="showcase-carousel-container">{% include carousel.html %}</div>
            </div>
        
        </div>
    </div>
</div>
