/* Style for the checkbox container */
label {
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  padding: 1px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-color-light);
}

.checkbox-label .ball {
  width: 25px;
  height: 25px;
  left: 0;
  padding: 5px;
  border-radius: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  background-color: var(--text-color);
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(16px);
}

.moon-icon,
.sun-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  transform: translate(-50%, -50%);
}