/* left side nav bar*/

.li *:last-child {
  margin-bottom: 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sidebar-nav {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 20px;
  display: flex;
  align-content: center;
  cursor: pointer;
  align-items: center;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-item .sidebar-link {
  width: 24px;
  height: 2px;
  margin-right: 10px;
  border-radius: 99px;
  transform-origin: left center;
  background-color: var(--text-color-light);
  color: var(--text-color-light);
}

.sidebar-item .sidebar-link:not(.selected):hover {
  transform: scaleX(1.2);
}

.sidebar-item a.active,
.sidebar-item a.selected {
  transform: scaleX(1.4);
  background-color: var(--text-color);
}

/* right side nav bar*/
.sidebar-social-item {
  margin-bottom: calc(1.666rem / 2);
}

.sidebar-social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.sidebar-social-link:hover,
.sidebar-social-link:focus,
.sidebar-social-link:active {
  text-decoration: none;
  color: var(--text-color);
}