/* CSS styles for profile page*/
.first-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 2.5rem;
}

.profile-info-container {
  margin: 0 auto;
  max-width: 500px;
  top: 0;
  left: 0;
}

.profile-info-container h2{
  padding-bottom: 1.2rem;
}

.resume {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: underline;
  line-height: 1.1;
}

.resume a {
  background-color: transparent;
}

.resume:hover {
  color: var(--text-color-light);
  border-bottom: none;
}

.profile-image-container {
  justify-self: right;
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  max-width: 500px;
  max-height: 500px;
}

.profile-image-wrapper img {
  position: relative;
  z-index: 99;
}

.profile-image-wrapper::after {
  content: "";
  display: block;
  padding-top: 100%;
  background-color: var(--bg-color-light);
  position: absolute;
  top: 20%;
  right: -20%;
  width: 100%;
  height: 100%;
}

.no-padding-column-img {
  padding: 0px 0px 0px 20px;
}

.no-padding-column-txt {
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 0px;
}

@media (max-width: 768px) {
  
  .first-page-content {
    padding: 20px 0px;
  }

  .profile-info-container {
    margin: 0;
  }

  .no-padding-column-txt {
    display: block;
    position: relative;
    align-items: start;
    padding: 0;
  }

  .no-padding-column-img {
    margin: 0 auto;
    padding: 3rem 0;
  }
}
