.profile-info {
  justify-self: left;
  display: table-cell;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.51572rem;
  margin-bottom: 1.666rem;
  color: inherit;
  line-height: 1.1;
}

.text {
  font-family: "Montserrat";
  font-size: 16px;
  margin: 0px 0px 8px;
  width: 100%;
  max-width: 500px;
  word-break: break-word;
  color: var(--text-color-light);
}

.resume {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  font-weight: 600;
  text-decoration: underline;
}

.resume:hover {
  color: inherit;
  border-bottom: none;
}

.image {
  position: relative;
  border-style: none;
  overflow: hidden;
  margin-bottom: 1.666rem;
}

.image img {
  width: 350px;
  height: 350px;
}

.img-offest {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 400px;
  height: 400px;
  background: var(--bg-color-light);
  z-index: -1;
}

@media (max-width: 767px) {
    
    .image {
      position: absolute;
      object-position: center;
      border-style: none;
      overflow: hidden;
      margin-top: 2rem;
    }
  
    .image img {
      width: 400px;
      height: 400px;
    }
}
  
