/* Style for the checkbox container */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  padding: 0; 
  box-sizing: content-box; 
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color-light);
  transition: background-color 1s, box-shadow 1s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-color);
  transition: transform 2s;
  border-radius: 50%;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}

input:checked + .slider {
  background-color: var(--bg-color-light);
  box-shadow: 0 0 1px var(--bg-color-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

label {
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--bg-color-light);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: var(--text-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.moon-icon,
.sun-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  fill: var(--text-color);
  transform: translate(-50%, -50%);
}