/* left side nav bar*/

.li *:last-child {
  margin-bottom: 0;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sidebar-nav {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  height: 20px;
  width: 100%;
  cursor: pointer;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-light);
}

.sidebar-link .sidebar-line {
  width: 30px;
  height: 2px;
  margin-right: 10px;
  transform-origin: left center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: var(--text-color-light);
}

.sidebar-link:hover .sidebar-line {
  transform: scaleX(1.3);
  background-color: var(--text-color-light);
}

.sidebar-link:active .sidebar-line {
  transform: scaleX(1.4);
  background-color: var(--text-color-light);
}

.sidebar-item.selected .sidebar-link .sidebar-line {
  transform: scaleX(1.4);
  background-color: var(--text-color);
}

/* right side nav bar*/
.sidebar-social-item {
  margin-bottom: calc(1.666rem / 2);
}

.sidebar-social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.sidebar-social-link:hover,
.sidebar-social-link:focus,
.sidebar-social-link:active {
  text-decoration: none;
  color: var(--text-color);
}