.first-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-info-container {
  justify-self: left;
  display: table-cell;
}

.profile-info-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.51572rem;
  font-weight: bold;
  margin-bottom: 1.666rem;
  line-height: 1.1;
  color: var(--text-color);
  display: block;
}

.profile-info-container p {
  width: 100%;
  max-width: 500px;
  font-family: "Montserrat";
  font-size: 16px;
  margin: 0px 0px 8px;
  color: var(--text-color-light);
  word-break: break-word;
}

.resume {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: underline;
}

.resume a {
  background-color: transparent;
}

.resume:hover {
  color: inherit;
  border-bottom: none;
}

.profile-image-container {
  justify-self: right;
  display: inline-block;
  position: relative;
  max-width: 500px;
  height: auto;
}

.profile-image-wrapper img {
  position: relative;
  max-width: 100%;
  margin-bottom: 1.666rem;
  z-index: 99;
}

.profile-image-wrapper ::after {
  position: absolute;
  top: 20%;
  right: -20%;
  width: 85%;
  height: 85%;
  background-color: var(--bg-color-light);
  content: "";
}

.no-padding-column-img {
  padding: 0px 0px 0px 20px;
}

.no-padding-column-txt {
  padding: 0px 20px 0px 0px;
}

@media (max-width: 768px) {
  
  .profile-info-container {
    top: 20%;
  }

  .profile-image-container {
    padding-top: 3rem;
  }

  .col-md-6 {
    padding: 0;
  }
}
