/* CSS styles for the showcases page */
.second-page-content {
  position: relative;
  width: 100%;
  height: calc(100% - 19em);
  min-width: 450px;
  min-height: 100vh;
  margin: 0;
  padding: 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-page-content .container-fluid {
  padding: 0;
  margin: 0;
}

.carousel-inner {
  width: 100%;
  padding-top: 2em;
  margin: 0;
}

.carousel-item {
  padding-right: 1em;
}

.card {
  margin: 0 0.5em;
  border: none;
}

.card-title {
  margin-bottom: 8px;
  font-family: "Raleway",sans-serif;
  font-weight: bold;
}

.img-wrapper {
  max-width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project-img {
  height: 233px;
  width: 355px;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.img-wrapper:hover .project-img {
  transform: scale(1.2);
}

.middle {
  position: absolute;
  height: 233px;
  width: 355px;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  opacity: 0;
}

.img-wrapper:hover .middle {
  opacity: 1;
}

.grid-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25px;
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-item {
  height: 25px;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.grid-item-text {
  font-size: .7em;
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  padding: 0.2em 0.6em;
}

.grid-item:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}

.btn-outline {
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.btn-outline:hover {
  color: var(--bg-color);
  background-color: var(--text-color);
}

.carousel-control-prev,
.carousel-control-next {
  width: 6vh;
  height: 6vh;
  top: 35%;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9999;
}


@media (max-width: 767px) {

  .second-page-content {
    padding: 0;
  }

  .carousel-img {
    height: 188px;
    width: 255px;
    border-radius: 10px;
  }

  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
  }

  .carousel-item {
    margin-right: 0;
    flex: 0 0 45%;
    display: block;
  }

}

@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 25.6%;
    display: block;
  }
}
