body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1475px;
  height: calc(100px - 20px);
  margin: 20px;
  background-color: transparent;
  z-index: 1;
}

.main-container {
  position: relative;
  width: calc(100% - 10% - 40px);
  height: calc(100vh - 100px - 20px * 2);
  top: 100px;
  margin: 20px auto;
  background-color: var(--bg-color);
}

.nav-switch {
  right: 0;
}

/* Left and right side navbars */
.fixed-nav-left,
.fixed-nav-right {
  position: fixed;
  height: calc(100vh - 100px - 20px * 2);
  width: 5%;
  top: 100px;
  margin: 20px; 
  background-color: var(--bg-color);
  color: var(--text-color);
}


.fixed-nav-left {
  left: 0;
}

.fixed-nav-right {
  right: 0;
}

.rotated-text {
  font-family: 'Montserrat';
  font-size: 16px;
  transform: rotate(90deg);
  transform-origin: left bottom;
}
