*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  padding: 40px;
}

h1 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1:hover {
  color: var(--text-color-light);
}

.main-container {
  position: relative;
  width: calc(100% - 10% - 40px);
  height: calc(100vh - 100px - 20px * 2);
  top: 100px;
  margin: 20px auto;
  background-color: var(--bg-color);
}

/* Left and right side navbars */
.fixed-nav-left,
.fixed-nav-right {
  position: fixed;
  justify-content: center;
  display: flex;
  height: calc(100vh - 100px - 20px * 2);
  width: 100px;
  top: 100px;
  margin: 20px 0 20px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 1;
}

.fixed-nav-left {
  left: 0;
  align-items: flex-start;
}

.fixed-nav-right {
  right: 0;
  align-items: flex-end;
}

.rotated-text {
  font-family: "Montserrat";
  font-size: 16px;
  transform: rotate(90deg);
  transform-origin: left bottom;
}
