/* Colour Theme */
:root {
    --grid-unit: 1rem;
    --border-radius-base: 0.5rem;
    --icon-moon-color: #f1c40f;
    --icon-sun-color: #f39c12;
}

.light-mode {
    --bg-color: #FFF;
    --bg-color-light: #e8e6e6;
    --color-highlight: #b13a3c;
    --text-color: #181a1b;
    --text-color-light: #989898;
  }
  
.dark-mode {
    --bg-color: #181a1b;
    --bg-color-light: #2f363d;
    --color-highlight: #b13a3c;
    --text-color: #FFF;
    --text-color-light: #989898;
  }