/* Light Theme */
:root {
    --bg-color: #F2F2F4;
    --bg-color-light: #e0e0e1;
    --color-highlight: #703436;
    --text-color: #24313E;
    --text-color-light: #324456;
}

/* Dark Theme */
.dark-mode {
    --bg-color: #24313E;
    --bg-color-light: #324456;
    --color-highlight: #703436;
    --text-color: #F2F2F4;
    --text-color-light: #e0e0e1;
}