<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      {% include header.html %}
    </header>

    <div class="row">
          <aside class="col-2 fixed-nav-left">
              {% include left-sidebar.html %}
          </aside>

              <section class="col-10 main-container">
                  {{ content }}
              </section>

          <aside class="col-2 fixed-nav-right">
              {% include right-sidebar.html %}
          </aside>
      </div>

  </div>  

    {% include footer.html %}

    <!-- Add custom scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ '/assets/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sidebar-toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
  </body>
</html>
