<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>{% include header.html %}</header>

    <div class="container-fluid">
      <div class="row">
        <aside class="col-1">
          <div class="fixed-nav-left">{% include left-sidebar.html %}</div>
        </aside>

        <main class="col-8">
          <div class="main-container">{{ content }}</div>
        </main>

        <aside class="col-1">
          <div class="fixed-nav-right">{% include right-sidebar.html %}</div>
        </aside>
      </div>
    </div>

    <!-- Add custom scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ '/assets/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sidebar-toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
  </body>
</html>
