<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>{% include header.html %}</header>

    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            <div class="fixed-nav-left">{% include left-sidebar.html %}</div>
          </div>
          <div class="col-md-10">
            <div class="content-container">{{ content }}</div>
          </div>
          <div class="col-md-1">
            <div class="fixed-nav-right">{% include right-sidebar.html %}</div>
          </div>
        </div>
      </div>
    </main>


    <!-- Add custom scripts here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ '/assets/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/sidebar-toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
  </body>
</html>